# -*- coding: utf-8 -*-
set :stages, %w(production staging development)
set :default_stage, "staging"

set :repo_url,  "git@github.com:gluster/glusterfs.git"
set :application, "glusterfs"
set :deploy_to, "/usr/local/src/#{fetch(:application)}"

set :scm, :git
set :keep_releases, 10
set :use_sudo, true

set :ssh_options, {
  keys: [File.expand_path('~/.ssh/id_rsa')],
  forward_agent: true,
  auth_methods: %w(publickey),
  #verbose: :debug  # NOTE: Uncomment when you need to debug ssh connection failure.
}

namespace :deploy do
  before :starting, "deploy:preparation"
  after :preparation, "deploy:dependancies"
  after :published, "deploy:glusterfs"

  desc 'Restart application'
  task :restart do
    on roles(:app), in: :sequence, wait: 5 do
    end
  end

  after :restart, :clear_cache do
    on roles(:web), in: :groups, limit: 3, wait: 10 do
    end
  end

  after :finishing, 'deploy:cleanup'
end
