set :stage, :staging
set :branch, "master"

## NOTE: You can specify multiple roles on each server.
# glusterfs : target of deployment
# glusterd  : handler of /etc/init.d/glusterd
# gluster   : less than one node in the storage pool to operate it with gluster cli

server '', roles: %w(glusterfs glusterd), user: ''

## NOTE: You can do deployment at the same time with a publickey defined in deploy.rb.
# server '192.0.2.1', roles: %w(glusterfs glusterd gluster), user: 'deploy'
# server '192.0.2.2', roles: %w(glusterfs glusterd), user: 'deploy'
# server '192.0.2.3', roles: %w(glusterfs glusterd), user: 'deploy'

## NOTE: Also you can do it specifying a publickey for each node.
# server 'some-aws-ec2-instance.example.com', roles: %w(glusterfs glusterd), user: 'ec2-user', ssh_options: {
#   keys: [File.expand_path('~/.ssh/some-aws-ec2-instance.pem')]
# }
# server 'some-cloudn-compute-instance.example.com', roles: %w(glusterfs glusterd), user: 'cloudn', ssh_options: {
#   keys: [File.expand_path('~/.ssh/some-cloudn-compute-instance.pem')]
# }
